[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "oottest"]
	path = oottest
	url = https://github.com/philippkuelpmann/oottest
	shallow = true
	registered = true
